@import '_vars';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Tajawal", sans-serif!important;
  @apply pt-[88px] xl:pt-[165px];
}
.Vue-Toastification__toast-body {
  font-family: "Tajawal", sans-serif!important;
}

section.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

// Header
header {
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  @apply fixed w-full top-0 z-10 bg-white;
  .right {
    .top {
      .left {
        .volunteers {
          .text-box {
            p {
              @apply transition-all ease-in-out duration-500;
            }
          }
          &:hover {
            .text-box {
              p {
                &:hover {
                  color: $primary!important;
                }
              }
            }
          }
          .icon {
            &::before {
              content: '';
              background: url("../images/main-menu__volunteers-icon-shape.png");
              @apply absolute bottom-0 left-[1px] w-[15px] h-[5px] bg-no-repeat rotate-[220deg];
            }
          }
        }

      }
      .right {
        .info {
          ul {
            li {
              a {
                @apply transition-all ease-in-out duration-500;
                &:hover {
                  color: $primary!important;
                }
              }
              &:not(:last-child) {
                &::before {
                  content: '';
                  @apply absolute top-[3px] bottom-[3px] right-[-40px] bg-[#eee9db] w-[1px];
                }
              }
            }
          }
        }
      }
    }
    .bottom {
      .menu {
        ul {
          > li + li {
            @apply ml-[55px];
          }
          //li {
          //  a {
          //    &.router-link-active {
          //      color: $primary2;
          //    }
          //  }
          //}
        }
      }
      .content-box {
        .btn-content-box {
          .btn-box {
            a {
              //&::before {
              //  content: '';
              //  background: $primary2;
              //  @apply absolute top-0 bottom-0 left-0 right-[-10000000000000px] z-[-1];
              //}
            }
          }
        }
      }
    }
  }
}

// Slider
.main-slider {
  height: 100vh;
  .swiper {
    @apply h-full;
    .slider-item {
      @apply h-full relative;
      .slider-background {
        @apply h-full bg-no-repeat bg-cover absolute w-full z-[1] #{!important};
        &::before {
          content: '';
          @apply w-full h-full absolute bg-[#283734d9];
        }
      }
      .slider-content {
        @apply relative z-[2] w-full h-full flex flex-col items-center justify-center;
        p {
          color: $primary2;
          @apply mb-5;
        }
        h2 {
          @apply text-white leading-[33px] text-[21px] xl:text-5xl mb-14 text-center;
        }
      }
    }
  }

}

// Donations Section
.donations-section {
  .background {
    background: url('../images/donations/bg.jpg') no-repeat center center fixed;
    background-size: cover;

    &::before {
      content: '';
      @apply w-full h-full absolute bg-[#283734eb];
    }
  }
  .donation-card {
    .card-content {
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
      .title {
        @apply transition-all ease-in-out duration-500;
        &:hover {
          color: $primary2!important;
        }
      }
    }
  }
}

// Features Section
.features-section {
  .feature-card {
    .btn-box {
    a {
      &:hover {
        color: #333!important;
        background: $primary2!important;
      }
    }
  }
  }
}

// News Section
.news-section  {
  .news-card {
    &:hover {
      .thumbnail {
        img {
          @apply scale-[1.05];
        }
      }
      .content {
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// Gallery Section
.gallery-section {
  .gallery-card {
    .gallery-image {
      &::before {
        content: '';
        background: linear-gradient(180deg, rgba(250, 211, 91, 0.0928746) 53%, #fad35b 100%);
        @apply absolute top-0 bottom-0 left-0 right-0 rounded-[20px] transition-all duration-700 ease-in-out translate-y-[100%];
      }

    }
    &:hover {
      .gallery-image {
        &::before {
          @apply translate-y-[0%];
        }
        .content {
          @apply opacity-[1] translate-y-[0%];
        }
      }
    }
  }
}

// Pages Header
.page-header {
  background: url('../images/donations/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  @apply relative h-[290px] w-full flex items-center justify-center mb-20;
  &::before {
    content: '';
    @apply w-full h-full absolute bg-[#283734eb] z-[1];
  }
  .content {
    @apply z-[2];
    h1 {
      @apply text-white text-[30px];
    }
  }
}

// Latest Donations
.latest-donations {
  .content {
    .col {
      &:nth-child(even) {
        background-color: $primary2;
      }
    }
  }
}

// Donate Section
.donate-box {
  .tabs {
    .tab {
      &.active {
        background: $primary2;
      }
    }
  }
  .box {
    .donate-box {
      .v-text-field .v-field, .v-text-field .v-input__details {
        direction: rtl;
      }
    }
  }
}

// Whatsapp Button
.whatsapp-button {
  .button {
    &:hover {
      @apply bg-[#128c7e];
    }
    .open {
      background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 0 1-13.754 2.299l-5.814.735a.392.392 0 0 1-.438-.44l.748-5.788A12.002 12.002 0 0 1 3.517 3.517zm3.61 17.043.3.158a9.846 9.846 0 0 0 11.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 0 0-1.747 11.554l.16.303-.51 3.942a.196.196 0 0 0 .219.22l3.961-.501zm6.534-7.003-.933 1.164a9.843 9.843 0 0 1-3.497-3.495l1.166-.933a.792.792 0 0 0 .23-.94L9.561 6.96a.793.793 0 0 0-.924-.445 1291.6 1291.6 0 0 0-2.023.524.797.797 0 0 0-.588.88 11.754 11.754 0 0 0 10.005 10.005.797.797 0 0 0 .88-.587l.525-2.023a.793.793 0 0 0-.445-.923L14.6 13.327a.792.792 0 0 0-.94.23z'/%3E%3C/svg%3E") 50% no-repeat;
      background-size: 60%;
      overflow:hidden;
    }
  }
}