@import '_vars';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Tajawal", sans-serif;
  @apply pt-[88px] xl:pt-[165px];
}

section.section {
  padding-top: 60px;
  padding-bottom: 60px;
}


// Header
header {
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  @apply fixed w-full top-0 z-10 bg-white;
  .right {
    .top {
      .left {
        .volunteers {
          .text-box {
            p {
              @apply transition-all ease-in-out duration-500;
            }
          }
          &:hover {
            .text-box {
              p {
                &:hover {
                  color: $primary!important;
                }
              }
            }
          }
          .icon {
            &::before {
              content: '';
              background: url("../images/main-menu__volunteers-icon-shape.png");
              @apply absolute bottom-0 left-[1px] w-[15px] h-[5px] bg-no-repeat rotate-[220deg];
            }
          }
        }

      }
      .right {
        .info {
          ul {
            li {
              a {
                @apply transition-all ease-in-out duration-500;
                &:hover {
                  color: $primary!important;
                }
              }
              &:not(:last-child) {
                &::before {
                  content: '';
                  @apply absolute top-[3px] bottom-[3px] right-[-40px] bg-[#eee9db] w-[1px];
                }
              }
            }
          }
        }
      }
    }
    .bottom {
      .menu {
        ul {
          > li + li {
            @apply ml-[55px];
          }
          //li {
          //  a {
          //    &.router-link-active {
          //      color: $primary2;
          //    }
          //  }
          //}
        }
      }
      .content-box {
        .btn-content-box {
          .btn-box {
            a {
              //&::before {
              //  content: '';
              //  background: $primary2;
              //  @apply absolute top-0 bottom-0 left-0 right-[-10000000000000px] z-[-1];
              //}
            }
          }
        }
      }
    }
  }
}

// Slider
.main-slider {
  height: 100vh;
  .swiper {
    @apply h-full;
    .slider-item {
      @apply h-full relative;
      .slider-background {
        @apply h-full bg-no-repeat bg-cover absolute w-full z-[1] #{!important};
        &::before {
          content: '';
          @apply w-full h-full absolute bg-[#283734d9];
        }
      }
      .slider-content {
        @apply relative z-[2] w-full h-full flex flex-col items-center justify-center;
        p {
          color: $primary2;
          @apply mb-5;
        }
        h2 {
          @apply text-white leading-[33px] text-[21px] xl:text-5xl mb-14 text-center;
        }
      }
    }
  }

}

// Donations Section
.donations-section {
  .background {
    background: url('../images/donations/bg.jpg') no-repeat center center fixed;
    background-size: cover;

    &::before {
      content: '';
      @apply w-full h-full absolute bg-[#283734eb];
    }
  }
  .donation-card {
    .card-content {
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
      .title {
        @apply transition-all ease-in-out duration-500;
        &:hover {
          color: $primary2!important;
        }
      }
    }
  }
}

// Features Section
.features-section {
  .feature-card {
    .btn-box {
    a {
      &:hover {
        color: #333!important;
        background: $primary2!important;
      }
    }
  }
  }
}

// News Section
.news-section  {
  .news-card {
    &:hover {
      .thumbnail {
        img {
          @apply scale-[1.05];
        }
      }
      .content {
        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// Gallery Section
.gallery-section {
  .gallery-card {
    .gallery-image {
      &::before {
        content: '';
        background: linear-gradient(180deg, rgba(250, 211, 91, 0.0928746) 53%, #fad35b 100%);
        @apply absolute top-0 bottom-0 left-0 right-0 rounded-[20px] transition-all duration-700 ease-in-out translate-y-[100%];
      }

    }
    &:hover {
      .gallery-image {
        &::before {
          @apply translate-y-[0%];
        }
        .content {
          @apply opacity-[1] translate-y-[0%];
        }
      }
    }
  }
}